/* main nav */
.nav {
  margin-bottom: 2rem;
}

/* main nav in contnets */
.nav ul {
  display: flex;
  border-bottom: 2px solid #000;
}

.navItem {
  position: relative;
  margin-right: 1rem;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.navItem:hover {
  color: #5076e7;
}

.navItem a {
  display: inline-block;
  padding: 1rem 0;
}

.navItemActive {
  border-bottom: 2px solid black;
}

.count {
  margin-left: 0.4rem;
}
