.todoForm {
  margin-bottom: 1rem;
}

.todoBox {
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  background-color: #acf0fd;
  border-radius: 0.6rem;
  transition: outline-color 1s ease-in-out;
}

.todoBox svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  color: var(--main-text);
}

.todoBox input {
  width: 100%;
  padding: 0.6rem;
  background: inherit;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  outline: none;
}

.todoBox:has(input:focus) {
  outline: 2px solid var(--main-text);
}

.todoBox input::placeholder {
  color: var(--main-text);
}
