/* sidebar */
/* https://coolors.co/fefae0-fcf4d7-faedcd-f8e9c8-f6e4c2-f4e0bd-f1dbb7-ecd2ac-e7c8a0-d4a373 */
:root {
  --sidebar-pd: 1rem;
  --sidebar-bg: #a2d2ff;
  --sidebar-text: #ffffff;
  --sidebar-li-nav-bg-hover: #749fc5;
  --sidebar-li-text-hover: #1d3557;
  --sidebar-badge-bg: #8ecae6;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  padding: 0;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
}

.sidebar__logo {
  width: 100%;
  padding: var(--sidebar-pd);
}

.sidebar__logo svg {
  margin-right: 0.3rem;
  transform: translateY(0.1rem);
}

.sidebar__logo h1 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.sidebar__nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sidebar-pd);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sidebar__nav ul li:hover {
  color: var(--sidebar-li-text-hover);
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0.7rem;
  border-radius: 0.4rem;
  background-color: var(--sidebar-badge-bg);
  font-size: 0.9rem;
}

.isLocated {
  background-color: var(--sidebar-li-nav-bg-hover);
}
