:root {
  --sidebar-bg: #fff;
  --sidebar-text: #25396f;
  --sidebar-li-hover: #f1f4ff;
  --sidebar-li-text-hover: #fff;
  --sidebar-li-bg: #fff;
  --sidebar-li-bg-active: #435ebe;
  --sidebar-li-text-active: #fff;
  --toggle-bg: #25396f;
  --toggle-switch: #25396f;
}

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 0;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 2rem;
}

.logo {
  height: fit-content;
  font-size: 2rem;
  color: var(--sidebar-text);
  cursor: pointer;
}

.logo i {
  margin-right: 4px;
}

.logo i svg {
  transform: translateY(15%);
}

.logo h1 {
  display: inline-block;
}

/* nav */
.nav {
  padding: 0 2rem;
  margin-top: 1rem;
}

.navIndex {
  font-size: 1.2rem;
}

.navItem,
.navItemActive {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.navItem:hover {
  background-color: var(--sidebar-li-hover);
}

.navItemActive {
  background-color: var(--sidebar-li-bg-active);
  color: var(--sidebar-li-text-active);
}

.navItem a,
.navItemActive a {
  display: flex;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.navItem a div,
.navItemActive a div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2rem;
}

.navItem a i {
  transform: translateY(10%);
}

/* .navItem a span {
  line-height: 1.2rem;
} */

.theme label {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid var(--toggle-bg);
  background-color: #fff;
  cursor: pointer;
}

/* theme mode */
.theme label span {
  position: absolute;
  top: 7%;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--toggle-switch);
  transition: all 0.2s ease-in;
}

.theme input:checked ~ label {
  background-color: var(--toggle-bg);
}

.theme input:checked ~ label span {
  left: calc(100% - 19px);
  background: #fff;
}

/* common */
.drag-prevent {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
