:root {
  --main-bg: #caf0f8;
  --main-text: #03045e;
  --main-text-hover: #86b4fe;
  --main-nav-badge: #fff;
}
/* https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

.toDos {
  padding: 3rem 2rem 2rem;
  background-color: var(--main-bg);
  color: var(--main-text);
}

/* main header */
.toDos-heading {
  margin-bottom: 2rem;
}

.toDos-heading h2 {
  font-size: 2rem;
  line-height: 1.5;
}

/* main nav */
.toDos-nav {
  margin-bottom: 2rem;
}

/* main nav in contnets */
.toDos-nav ul {
  display: flex;
  border-bottom: 2px solid #000;
}

.toDos-nav__item,
.toDos-nav__item--active {
  position: relative;
  margin-right: 1rem;
  text-align: center;
}

.toDos-nav__item--active {
  border-bottom: 2px solid black;
}

.toDos-nav__item a,
.toDos-nav__item--active a {
  display: inline-block;
  padding: 1rem 0;
}

.toDos-nav__count {
  margin-right: 0.4rem;
  color: #1d3557;
}

/* main wrapper */
.toDos-wrapper {
  max-width: 50vw;
}

.toDos-wrapper__heading {
  margin-bottom: 1rem;
}

.toDos-wrapper__heading h3 {
  font-size: 1.5rem;
}

.toDos-wrapper__lists {
  margin-bottom: 1rem;
}

.toDos-wrapper__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  padding: 0.4rem;
}

.toDos-wrapper__list input {
  flex: 0 1 0;
}

.toDos-wrapper__list label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.toDos-wrapper__list span {
  flex: 1 1 0;
}

.toDos-wrapper__list span ~ span {
  flex: 0 0 auto;
}

/* checkbox */
.toDos-wrapper__list input {
  cursor: pointer;
}
.toDos-wrapper__list label {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: #e9f8f9;
  border-radius: 10px;
  cursor: pointer;
}

.toDos-wrapper__list input:checked ~ label::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 9px;
  height: 4px;
  border-left: 2px solid #03045e;
  border-bottom: 2px solid #03045e;
  transform: translate(-50%, -50%) rotate(-45deg);
}
