html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Jua', sans-serif;
	line-height: 1;
	letter-spacing: 0.05em;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
	font-family: 'Jua', sans-serif;
}
button {
	background-color: inherit;
	border: none;
}
* {
    box-sizing: border-box;
}
#root {
	display: grid;
	grid-template-columns: auto 1fr;
}
:root {
	--color-black: #000;
	--color-white: #fff;
	--color-accent: #03045e;
	--color-bg: #caf0f8;
	--color-bg-darker: #acf0fd;
	--color-bg-nav-hover: #f1f4ff;
	--color-bg-actived: #435ebe;
	--color-border: #000;
	--color-sidebar-bg: #fff;
	--color-text: #03045e;
	--color-text-actived: #fff;
	--color-text-hover: #5595fc;
}

html.dark {
	--color-black: #000;
	--color-white: #fff;
	--color-bg: #2300a4;
	--color-bg-darker: #205295;
	--color-bg-nav-hover: #6a5aa3;
	--color-bg-actived: #fff;
	--color-border: #fff;
	--color-sidebar-bg: #13005A;
	--color-text: #fff;
	--color-text-actived: #000;
	--color-text-hover: #a6acc0;
}
/* https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */